@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/*  styling scrollbars  */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0a2b6e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5aaad;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.text-title {
  color: #2e4a66;
}

.text-lightblue {
  color: #469cac;
}

.text-red {
  color: #cc3d38;
}

.text-yellow {
  color: #a98921;
}

.text-green {
  color: #3b9668;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

@media only screen and (max-width: 978px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }
}

.assessment-main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.assessment-management-container {
  font-family: "Arial", sans-serif;
  margin: 20px;
}

.page-title {
  color: #333;
  margin-bottom: 20px;
}

.assessments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 5px 10px #999999;
}

.assessment-row,
.new-assessment-button {
  cursor: pointer;
}

.assessments-table,
.assessments-table th,
.assessments-table td {
  border: 1px solid #ddd;
}

.assessments-table th,
.assessments-table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

/* Adjustments for screens with a maximum width of 768px (small devices) */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "main";
  }

  .assessments-table th,
  .assessments-table td {
    font-size: 14px; /* Adjusted font size for smaller screens */
  }
}

/* Adjustments for screens with a maximum width of 1024px (medium devices) */
@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "nav main"
      "sidebar main";
  }
}

/* Adjustments for screens with a minimum width of 1025px (large devices) */
@media only screen and (min-width: 1025px) {
  .container {
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-areas:
      "sidebar nav nav nav"
      "sidebar main main main";
  }
}

/* ... (Remaining styles) */

.assessments-table th {
  background-color: #0a2b6e;
  color:white;
  padding:7px;
}

.assessment-row:hover {
  background-color: #f5f5f5;
}

.selected-assessment-details {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.selected-assessment-title {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.assessment-questions {
  margin-top: 20px;
}

.question-item {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

.assessment-questions-form {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 50%; /* Adjusted width */
  margin-left: auto; /* Center the form */
  margin-right: auto; /* Center the form */
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.assessment-questions-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.assessment-questions-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Styles for .add-questions-button */
.add-questions-button {
  background-color: #3498db;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.add-questions-button:hover {
  background-color: #2980b9;
}

.new-assessment-button,
.manage-tags-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgba(255, 255, 255, 0.726);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.new-assessment-button:hover,
.manage-tags-button:hover {
  background-color: #3323c4;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.new-assessment-button:active,
.manage-tags-button:active {
  transform: translateY(-1px);
  background-color: #584bd1;
}

.new-assessment-form {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 50%; /* Adjusted width */
  margin-left: auto; /* Center the form */
  margin-right: auto; /* Center the form */
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.new-assessment-form h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.new-assessment-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.new-assessment-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-new-assessment-button,
.add-questions-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 5px;
  border-color: #000;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.add-new-assessment-button:hover,
.add-questions-button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.add-new-assessment-button:active,
.add-questions-button:active {
  transform: translateY(-1px);
}

/* delete assessment table button */

.delete-assessment-table-button {
  appearance: none;
  background-color: #e74c3c; /* Red color */
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 15px; /* Adjusted line-height */
  padding: 5px 12px; /* Adjusted padding */
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.delete-assessment-table-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.delete-assessment-table-button:hover {
  background-color: #c0392b; /* Darker red color on hover */
}

.delete-assessment-table-button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.delete-assessment-table-button:disabled {
  background-color: #f1948a; /* Lighter red color for disabled state */
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.delete-assessment-table-button:active {
  background-color: #922b21; /* Darker red color on active state */
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* AdminAssessment.css */

/* ... (Previous code) */

/* Styles for .add-questions-table-button */

.add-questions-table-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 15px; /* Adjusted line-height */
  padding: 5px 12px; /* Adjusted padding */
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.add-questions-table-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.add-questions-table-button:hover {
  background-color: #2c974b;
}

.add-questions-table-button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.add-questions-table-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}
.add-questions-table-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* Styles for .view-questions-table-button */

.view-questions-table-button {
  appearance: none;
  background-color: #f39c12; /* Orange color */
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 15px; /* Adjusted line-height */
  padding: 5px 12px; /* Adjusted padding */
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.view-questions-table-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.view-questions-table-button:hover {
  background-color: #e67e22; /* Darker orange color on hover */
}

.view-questions-table-button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.view-questions-table-button:disabled {
  background-color: #f8c471; /* Lighter orange color for disabled state */
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.view-questions-table-button:active {
  background-color: #d35400; /* Darker orange color on active state */
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
/* ... (Remaining code) */

.manage-tags-section {
  display: flex;

  justify-content: space-between; /* Adjust alignment as needed */
  margin: 20px; /* Add margin for space around the manage-tags-section */
}

.tag-form {
  height: 210px; /* Set the desired fixed height */
  overflow-y: auto; /* Add scroll if tags exceed the fixed height */
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px; /* Add padding for better visual separation */
  display: flex;
  width: 37%;
  background-color: #fff;
  flex-direction: column; /* Stack items vertically */
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.tag-list {
  border: 1px solid #ddd;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px; /* Add padding for better visual separation */
  width: 42%;
}

.tag-table {
  width: 100%;
  border-collapse: collapse;
}

.tag-table th,
.tag-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center; /* Center the content */
}

.tag-table th {
  background-color: #f2f2f2;
}

.tag-item {
  border: 1px solid #ddd;
  margin: 5px; /* Adjust the margin as per your preference */
  padding: 10px; /* Add padding to create space inside the .tag-item */
}
.action-buttons {
  margin-bottom: 40px;
  margin-top: 10px; /* Add margin at the bottom to create space between buttons */
}

.new-assessment-button,
.manage-tags-button {
  margin-right: 10px; /* Add margin to the right of each button */
}

.tag-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.tag-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-new-tag-button {
  width: 150px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 5px;
  border-color: #000;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.add-new-tag-button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.add-new-tag-button:active {
  transform: translateY(-1px);
}

.tag-item {
  border: 1px solid #ddd;
  margin: 5px; /* Adjust the margin as per your preference */
  padding: 10px; /* Add padding to create space inside the .tag-item */
}

.tag-item p {
  margin: 5px 0; /* Add margin to the paragraphs inside .tag-item */
}

.tag-item .delete-tag-button {
  margin-top: 10px; /* Add margin to the button inside .tag-item */
}

.delete-tag-button {
  width: 150px;
  padding: 0.4em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 5px;
  border-color: #000;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.delete-tag-button:hover {
  background-color: red;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.delete-tag-button:active {
  transform: translateY(-1px);
}

.question-view {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.question-view .key{
  font-weight: bold;
}

.question-view p {
  margin-bottom: 7px; /* Add margin to create space between options */
  /* font-family: 'Times New Roman', Times, serif; */
}
.question-view h3 {
  margin-bottom: 5px; /* Add margin to create space between Question index and question */
  /* font-family: 'Times New Roman', Times, serif; */
}

.edit-question-form {
  /* Styling for the form when editing a question */
  margin-top: 10px;
}

.edit-question-form p {
  /* Styling for labels */
  margin: 5px 0;
}

.edit-question-form input {
  /* Styling for input fields */
  width: 90%;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.edit-question-buttons {
  /* Styling for the Save and Cancel buttons */
  display: flex;
  justify-content:space-between;
  margin-top: 10px;
  border-radius:4px;
}

.save-button {
  font-size: 12px;
  padding: 0.5em 1em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
 }
 
 .save-button:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
 }
 
 .save-button:active {
  transform: translate(0em, 0.2em);
 }

 .cancel-button {
  font-size: 12px;
  padding: 0.5em 1em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: #e67e22;
  color: white;
  border-radius: 4px;
 }
 
 .cancel-button:active {
  transform: translate(0em, 0.2em);
 }
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px; /* Adjusted width */
  height: 16px; /* Adjusted height */
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px; /* Adjusted width */
  height: 16px; /* Adjusted height */
  border-radius: 8px; /* Adjusted border-radius */
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 1px; /* Adjusted top position */
  left: 1px; /* Adjusted left position */
  width: 14px; /* Adjusted width */
  height: 14px; /* Adjusted height */
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: #86d993;
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(13px); /* Adjusted transform */
}

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(250, 66, 66);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}
.bin-bottom {
  width: 15px;
  z-index: 2;
}
.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}
.garbage {
  position: absolute;
  width: 14px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}
.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}
@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  gap: 2px;
  height: 25px;
  width: 45px;
  border: none;
  background: #a549da3d;
  border-radius: 20px;
  cursor: pointer;
  margin-left:90%;
}

.lable {
  line-height: 20px;
  font-size: 15px;
  color: #A649DA;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

.edit-button:hover {
  background: #a549da62;
}

.edit-button:hover .svg-icon {
  animation: lr 1s linear infinite;
}

@keyframes lr {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-1px);
  }

  75% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}


.newassessmentform select,
.addquestionform select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  /* Add additional styling for the select element if needed */
  background-color: #f9f9f9; /* Background color */
  color: #333; /* Text color */
  font-size: 14px; /* Font size */
  /* Add any other styles you want for the select element */
}

.newassessmentform select::-ms-expand,
.addquestionform select::-ms-expand {
  display: none;
}

.newassessmentform select:focus,
.addquestionform select:focus {
  outline: none;
  border-color: #23c483; /* Border color on focus */
  box-shadow: 0 0 5px rgba(46, 229, 157, 0.7); /* Box shadow on focus */
}
